WebForm/Web References/ServiceReferencesCliente/ClienteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50798/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GTIEntity" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GTIEntity" minOccurs="0" name="GetResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GTIEntity" minOccurs="0" name="GetPorIdResult" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Post">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GTIEntity" minOccurs="0" name="cliente" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Put">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GTIEntity" minOccurs="0" name="cliente" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>