WebForm/Web References/ServiceReferencesClienteEndereco/ClienteEnderecoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GTIEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GTIEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClienteEndereco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteEndereco" nillable="true" type="tns:ClienteEndereco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteEndereco" nillable="true" type="tns:ArrayOfClienteEndereco" />
  <xs:complexType name="ClienteEndereco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnderecoId" type="xs:int" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteEndereco" nillable="true" type="tns:ClienteEndereco" />
</xs:schema>